In [14]:
import pandas as pd
import joblib

In [30]:
df=pd.read_csv('40k_85k_predictions.csv')
t17=list(df['predicted_entity'].values)[15000:25000]

In [64]:
df=pd.read_csv('40k_85k_predictions.csv')
t10=list(df['predicted_entity'].values)[5000:10000]
joblib.dump(t10, 'predictions_45000_to_50000.pkl')

['predictions_45000_to_50000.pkl']

In [66]:
df=pd.read_csv('40k_85k_predictions.csv')
t12=list(df['predicted_entity'].values)[20000:30000]
joblib.dump(t12, 'predictions_60000_to_70000.pkl')

['predictions_60000_to_70000.pkl']

In [90]:
t1=joblib.load('predictions_0_to_5000.pkl')
t2=joblib.load('predictions_5000_to_10000.pkl')
t3=joblib.load('predictions_10000_to_15000.pkl')
t4=joblib.load('predictions_15000_to_20000.pkl')
t5=joblib.load('predictions_20000_to_25000.pkl')
t6=joblib.load('predictions_25000_to_30000.pkl')
t7=joblib.load('predictions_30000_to_35000.pkl')
t8=joblib.load('predictions_35000_to_40000.pkl')
t9=joblib.load('predictions_40000_to_45000.pkl')
t10=joblib.load('predictions_45000_to_50000.pkl')
t11=joblib.load('predictions_50000_to_60000.pkl')
t12=joblib.load('predictions_60000_to_70000.pkl')
t13=joblib.load('predictions_70000_to_75000.pkl')
t14=joblib.load('predictions_75000_to_80000.pkl')[5000:]
t15=joblib.load('predictions_80000_to_85000.pkl')[10000:]
t16=joblib.load('predictions_85000_to_90000.pkl')
t17=joblib.load('predictions_90000_to_100000.pkl')
t18=joblib.load('predictions_100000_to_110000.pkl')[10000:]
t19=joblib.load('predictions_110000_to_120000.pkl')
t20=joblib.load('predictions_120000_to_end.pkl')

In [91]:

predictions_list = [t1, t2, t3, t4, t5, t6, t7, t8, t9, t10, t11, t12, t13, t14, t15, t16, t17, t18, t19, t20]

# Iterate over each list and print its length
for i, pred in enumerate(predictions_list, start=1):
    print(f"Length of t{i}: {len(pred)}")

Length of t1: 5000
Length of t2: 5000
Length of t3: 5000
Length of t4: 5000
Length of t5: 5000
Length of t6: 5000
Length of t7: 5000
Length of t8: 5000
Length of t9: 5000
Length of t10: 5000
Length of t11: 10000
Length of t12: 10000
Length of t13: 5000
Length of t14: 5000
Length of t15: 5000
Length of t16: 5000
Length of t17: 10000
Length of t18: 10000
Length of t19: 10000
Length of t20: 11187

In [130]:
predictions_list= t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10

In [132]:
len(predictions_list)

50000

In [133]:
joblib.dump(predictions_list, '0_to_50k.pkl')

['0_to_50k.pkl']

In [92]:

all_predictions = t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15 + t16 + t17 + t18 + t19 +t20

In [93]:
len(all_predictions)

131187

In [136]:
joblib.dump(t20, 'end.pkl')

['end.pkl']

In [135]:
len(t12)

10000

In [35]:
df.to_csv('xyz.csv', index=False)

In [36]:
df=pd.read_csv('xyz.csv')

In [160]:
t2=joblib.load('./predictions_2000_to_5000.pkl')
len(t2)

5000

In [161]:
t3=joblib.load('./predictions_5000_to_7500.pkl')
print(len(t3))

SyntaxError: invalid syntax (2373416399.py, line 3)

In [8]:
t4=joblib.load('./predictions_7500_to_10000.pkl')
len(t4)

10000

In [9]:
t1=t1[:2000]
t2=t2[2000:5000]
t3=t4[5000:7500]
t4=t4[7500:10000]

In [10]:
t5=joblib.load('./predictions_10000_to_12500.pkl')
len(t5)

2500

In [11]:
t6=joblib.load('./predictions_12500_to_15000.pkl')
len(t6)

2500

In [12]:
t7=joblib.load('./predictions_15000_to_20000.pkl')
t8=joblib.load('./predictions_20000_to_25000.pkl')
t9=joblib.load('./predictions_25000_to_30000.pkl')
t10=joblib.load('./predictions_30000_to_35000.pkl')
t11=joblib.load('./predictions_35000_to_40000.pkl')

In [15]:
combined_list = t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11

print(len(combined_list))

40000

In [214]:
t1[:4]

['empty', '200centimeter', '200centimeter', '200centimeter']

In [137]:
import pandas as pd
df=pd.read_csv('../dataset/test.csv')
df.head()

,index,image_link,group_id,entity_name
0,0,https://m.media-amazon.com/images/I/110EibNycl...,156839,height
1,1,https://m.media-amazon.com/images/I/11TU2clswz...,792578,width
2,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height
3,3,https://m.media-amazon.com/images/I/11TU2clswz...,792578,depth
4,4,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,depth

In [156]:
df=df.iloc[:40000]

In [157]:
df['predicted_entity']=combined_list
df.head()

NameError: name 'combined_list' is not defined

In [20]:
df.to_csv("First_40k_predictions.csv", index=False)

In [1]:
import pandas as pd
df1=pd.read_csv('First_40k_predictions.csv')
df2=pd.read_csv('40k_85k_predictions.csv')
df3=pd.read_csv('combined_data_85000onwards.csv')

In [2]:
df1.head()

,index,image_link,group_id,entity_name,predicted_entity
0,0,https://m.media-amazon.com/images/I/110EibNycl...,156839,height,empty
1,1,https://m.media-amazon.com/images/I/11TU2clswz...,792578,width,200centimeter
2,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height,200centimeter
3,3,https://m.media-amazon.com/images/I/11TU2clswz...,792578,depth,200centimeter
4,4,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,depth,10.50centimeter

In [3]:
df2.head()

,index,image_link,group_id,entity_name,extracted_text,predicted_entity
0,40045,https://m.media-amazon.com/images/I/51L5QalPIH...,478357,height,"16.54 12.60"" 4.13 4.13"" 20.08"" 10.63""",empty
1,40046,https://m.media-amazon.com/images/I/51L5UdmgBA...,150535,width,SunNap 65 mm 230 mm 23cm 1/1y7 507,65millimeter
2,40047,https://m.media-amazon.com/images/I/51L5UdmgBA...,150535,depth,SunNap 65 mm 230 mm 23cm 1/1y7 507,65millimeter
3,40048,https://m.media-amazon.com/images/I/51L5YofPww...,235693,width,65cm 96cm 8.5cm 46cm 35cm,65centimeter
4,40049,https://m.media-amazon.com/images/I/51L5ePmoDd...,478357,width,"30"" 66' 36",empty

In [5]:
df3.head()

,index,image_link,group_id,entity_name,extracted_text,predicted_entity
0,85069,https://m.media-amazon.com/images/I/612bkk2IQW...,784538,depth,27.5 inch 10 inch,27.5inch
1,85070,https://m.media-amazon.com/images/I/612bkk2IQW...,784538,width,27.5 inch 10 inch,27.5inch
2,85071,https://m.media-amazon.com/images/I/612bkk2IQW...,784538,height,27.5 inch 10 inch,27.5inch
3,85072,https://m.media-amazon.com/images/I/612bo-guQ6...,416664,depth,"12 1/2"" 8"" 21""",empty
4,85073,https://m.media-amazon.com/images/I/612bo-guQ6...,416664,width,"12 1/2"" 8"" 21""",empty

In [138]:
df=pd.read_csv('../dataset/test.csv')
df.head()

,index,image_link,group_id,entity_name
0,0,https://m.media-amazon.com/images/I/110EibNycl...,156839,height
1,1,https://m.media-amazon.com/images/I/11TU2clswz...,792578,width
2,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height
3,3,https://m.media-amazon.com/images/I/11TU2clswz...,792578,depth
4,4,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,depth

In [139]:
all_predictions=joblib.load('final.pkl')

In [140]:
df['prediction']=all_predictions
df=df[['index','entity_name', 'prediction']]
df.head()

   index entity_name       prediction
0      0      height            empty
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [141]:
df.isnull().sum()

index          0
entity_name    0
prediction     0
dtype: int64

In [142]:
pattern = r'[^a-zA-Z0-9.\s]'

# Find rows with invalid characters in the 'prediction' column
invalid_rows = df[df['prediction'].str.contains(pattern, regex=True)]

print(invalid_rows)

         index                    entity_name         prediction
131        131                          width        25.6inch(65
147        147                    item_volume         20/20liter
182        182                         height     74,5centimeter
209        209                    item_weight       11,8kilogram
227        227                    item_weight         4ounce/113
...        ...                            ...                ...
130897  130998                    item_volume  100milliliter/3.5
130902  131003                    item_weight       1.75ounce/50
130909  131010  maximum_weight_recommendation       30,000pounds
130918  131019                    item_weight    11,3kilogram|25
131182  131283  maximum_weight_recommendation         1,500pound

[3263 rows x 3 columns]

In [143]:
import re
def split_by_first_invalid_char(s):
    match = re.search(pattern, s)
    if match:
        return s.split(match.group(0))[0]  # Split at the first occurrence of invalid char and take the first part
    return s  # If no invalid character is found, return the string as is

# Apply the function to the 'prediction' column
df['prediction'] = df['prediction'].apply(split_by_first_invalid_char)
df.head()

   index entity_name       prediction
0      0      height            empty
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [144]:
entity_unit_map = {
    'width': '8.0centimetre',
    'depth': '10.0centimetre',
    'height': '25.0centimetre',
    'item_weight': '50.0gram',
    'maximum_weight_recommendation': '50.0gram',
    'voltage': '10.0volt',
    'wattage': '10.0watt',
    'item_volume': '10.0litre'
}

In [145]:
df.loc[76]

index              76
entity_name    height
prediction      empty
Name: 76, dtype: object

In [146]:
df['prediction'] = df.apply(lambda row: entity_unit_map.get(row['entity_name'], row['prediction']) 
                            if row['prediction'] == 'empty' else row['prediction'], axis=1)

In [147]:
df.head()

   index entity_name       prediction
0      0      height   25.0centimetre
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [148]:
pattern = r'\d'

# Function to replace predictions without numbers
def replace_if_no_number(row):
    if not re.search(pattern, row['prediction']):  # Check if there's no number in the prediction
        return entity_unit_map.get(row['entity_name'], row['prediction'])  # Replace with the unit from the dictionary
    return row['prediction']  # Return the original value if there's a number

# Apply the function to the 'prediction' column
df['prediction'] = df.apply(replace_if_no_number, axis=1)
df.head()

   index entity_name       prediction
0      0      height   25.0centimetre
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [149]:
pattern = r'[a-zA-Z]'

# Function to replace predictions with no alphabetic characters
def replace_if_no_string(row):
    if not re.search(pattern, row['prediction']):  # Check if there's no alphabetic character in the prediction
        return entity_unit_map.get(row['entity_name'], row['prediction'])  # Replace with the unit from the dictionary
    return row['prediction']  # Return the original value if alphabetic characters are present

# Apply the function to the 'prediction' column
df['prediction'] = df.apply(replace_if_no_string, axis=1)

In [150]:
df.head()

   index entity_name       prediction
0      0      height   25.0centimetre
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [151]:
def clean_prediction(value):
    # Extract numeric prefix (digits and/or decimals)
    numeric_part = re.search(r'\d+\.?\d*', value)
    # Extract alphabetic suffix (letters only)
    alphabetic_part = re.search(r'[a-zA-Z]+', value)
    
    if numeric_part and alphabetic_part:
        return f"{numeric_part.group(0)}{alphabetic_part.group(0)}"
    elif numeric_part:
        return numeric_part.group(0)
    elif alphabetic_part:
        return alphabetic_part.group(0)
    return value

# Apply the function to the 'prediction' column
df['prediction'] = df['prediction'].apply(clean_prediction)

In [152]:
df.head()

   index entity_name       prediction
0      0      height   25.0centimetre
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [153]:
pattern = r'[a-zA-Z]+\d'

# Find rows where a string character appears before a number
df_with_string_before_number = df[df['prediction'].str.contains(pattern, regex=True)]

print(df_with_string_before_number)

Empty DataFrame
Columns: [index, entity_name, prediction]
Index: []

In [154]:
pattern = r'\d'

# Function to replace predictions without numbers
def replace_if_no_number(row):
    if not re.search(pattern, row['prediction']):  # Check if there's no number in the prediction
        return entity_unit_map.get(row['entity_name'], row['prediction'])  # Replace with the unit from the dictionary
    return row['prediction']  # Return the original value if there's a number

# Apply the function to the 'prediction' column
df['prediction'] = df.apply(replace_if_no_number, axis=1)
df.head()

   index entity_name       prediction
0      0      height   25.0centimetre
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [155]:
pattern = r'[a-zA-Z]'

# Function to replace predictions with no alphabetic characters
def replace_if_no_string(row):
    if not re.search(pattern, row['prediction']):  # Check if there's no alphabetic character in the prediction
        return entity_unit_map.get(row['entity_name'], row['prediction'])  # Replace with the unit from the dictionary
    return row['prediction']  # Return the original value if alphabetic characters are present

# Apply the function to the 'prediction' column
df['prediction'] = df.apply(replace_if_no_string, axis=1)

In [156]:
df.head()

   index entity_name       prediction
0      0      height   25.0centimetre
1      1       width     42centimeter
2      2      height     42centimeter
3      3       depth     42centimeter
4      4       depth  10.50centimeter

In [157]:
def insert_space(value):
    # Regular expression to match the transition from digits to letters
    return re.sub(r'(\d+)([a-zA-Z])', r'\1 \2', value)

# Apply the function to the 'prediction' column
df['prediction'] = df['prediction'].apply(insert_space)

In [158]:
df.head(20)

    index                    entity_name        prediction
0       0                         height   25.0 centimetre
1       1                          width     42 centimeter
2       2                         height     42 centimeter
3       3                          depth     42 centimeter
4       4                          depth  10.50 centimeter
5       5                         height  10.50 centimeter
6       6                          width  10.50 centimeter
7       7                         height   25.0 centimetre
8       8                          width     40 centimeter
9       9                         height   25.0 centimetre
10     10                    item_weight         50.0 gram
11     11                          width    8.0 centimetre
12     12                          depth   10.0 centimetre
13     13                         height   25.0 centimetre
14     14                          width    8.0 centimetre
15     15                    item_weight         50.0 gram
16     16  maximum_weight_recommendation         50.0 gram
17     17                    item_weight            2 gram
18     18                        wattage         10.0 watt
19     19                        voltage          240 volt

In [159]:
valid=['pint', 'microlitre', 'centimetre', 'microgram', 'imperial gallon', 'litre', 'kilovolt', 'millilitre', 'quart', 'gram', 'fluid ounce', 'yard', 'cup', 'milligram', 'millimetre', 'centilitre', 'gallon', 'ounce', 'cubic inch', 'inch', 'watt', 'kilowatt', 'metre', 'decilitre', 'ton', 'cubic foot', 'volt', 'kilogram', 'pound', 'foot', 'millivolt']

In [160]:
df['prediction'].loc[3123]

'17.0 centimeter'

In [161]:
df['prediction'] = df['prediction'].str.replace('meter', 'metre').str.replace('liter', 'litre')

# Verify the changes
print(df.head(20))

    index                    entity_name        prediction
0       0                         height   25.0 centimetre
1       1                          width     42 centimetre
2       2                         height     42 centimetre
3       3                          depth     42 centimetre
4       4                          depth  10.50 centimetre
5       5                         height  10.50 centimetre
6       6                          width  10.50 centimetre
7       7                         height   25.0 centimetre
8       8                          width     40 centimetre
9       9                         height   25.0 centimetre
10     10                    item_weight         50.0 gram
11     11                          width    8.0 centimetre
12     12                          depth   10.0 centimetre
13     13                         height   25.0 centimetre
14     14                          width    8.0 centimetre
15     15                    item_weight         50.0 gram
16     16  maximum_weight_recommendation         50.0 gram
17     17                    item_weight            2 gram
18     18                        wattage         10.0 watt
19     19                        voltage          240 volt

In [162]:
def process_prediction(row):
    value, unit = re.match(r'([\d.]+)\s*(\w+)', row['prediction']).groups()
    if unit not in valid:
        # Replace with corresponding value from entity_unit_map if entity_name matches
        return entity_unit_map.get(row['entity_name'], row['prediction'])
    return row['prediction']

# Apply the function to process the 'prediction' column
df['prediction'] = df.apply(process_prediction, axis=1)

In [163]:
# df.to_csv('submission1_entity_name.csv', index=False)

In [164]:
df.head(20)

    index                    entity_name        prediction
0       0                         height   25.0 centimetre
1       1                          width     42 centimetre
2       2                         height     42 centimetre
3       3                          depth     42 centimetre
4       4                          depth  10.50 centimetre
5       5                         height  10.50 centimetre
6       6                          width  10.50 centimetre
7       7                         height   25.0 centimetre
8       8                          width     40 centimetre
9       9                         height   25.0 centimetre
10     10                    item_weight         50.0 gram
11     11                          width    8.0 centimetre
12     12                          depth   10.0 centimetre
13     13                         height   25.0 centimetre
14     14                          width    8.0 centimetre
15     15                    item_weight         50.0 gram
16     16  maximum_weight_recommendation         50.0 gram
17     17                    item_weight            2 gram
18     18                        wattage         10.0 watt
19     19                        voltage          240 volt

In [165]:
df=df.drop(['entity_name'], axis=1)
df.head()

   index        prediction
0      0   25.0 centimetre
1      1     42 centimetre
2      2     42 centimetre
3      3     42 centimetre
4      4  10.50 centimetre

In [166]:
df.to_csv('submission1.csv', index=False)

In [167]:
# pattern = r'([a-zA-Z]+[\d\D]*?[a-zA-Z]+)(?:\d.*)'

# # Function to remove numbers after the last alphabetic character
# def remove_numbers_after_string(s):
#     match = re.match(pattern, s)
#     if match:
#         return match.group(1)  # Return everything up to the last alphabetic character
#     return s  # If no match, return the original string

# # Apply the function to the 'prediction' column
# df['cleaned_prediction'] = df['prediction'].apply(remove_numbers_after_string)

In [168]:
# pattern = r'[a-zA-Z]+\d'

# # Find rows where a string character appears before a number
# df_with_string_before_number = df[df['prediction'].str.contains(pattern, regex=True)]

# print(df_with_string_before_number)

In [169]:
df.shape

(131187, 2)

In [171]:
df.to_csv('final.csv', index=False)

In [ ]:
df=pd.read_csv('final.csv')
df.head()
valid_units = [
    'cubic inch', 'volt', 'millivolt', 'kilovolt', 'gallon', 'watt', 'litre',
    'centilitre', 'metre', 'millimetre', 'millilitre', 'ton', 'microgram',
    'imperial gallon', 'centimetre', 'cubic foot', 'kilowatt', 'fluid ounce',
    'quart', 'ounce', 'foot', 'decilitre', 'microlitre', 'milligram',
    'cup', 'kilogram', 'inch', 'pint', 'yard', 'pound', 'gram'
]

def extract_unit(value):
    # Split the value into number and unit
    parts = value.split()
    if len(parts) > 1:
        unit = ' '.join(parts[1:]).lower()
        return unit
    return ''

def find_invalid_units(df):
    # Apply the unit extraction and check if the unit is valid
    df['unit'] = df['prediction'].apply(extract_unit)
    df_invalid = df[~df['unit'].isin(valid_units)]
    return df_invalid

# Find invalid units
df_invalid = find_invalid_units(df)

print(df_invalid)
import re
def insert_space(value):
    # Regular expression to match the transition from digits to letters
    return re.sub(r'(\d+)([a-zA-Z])', r'\1 \2', value)

# Apply the function to the 'prediction' column
df['prediction'] = df['prediction'].apply(insert_space)

df.head(10)
df.drop(['unit'], axis=1, inplace=True)
df.head()
# df.drop(['entity_name'], axis=1, inplace=True)
df.to_csv('final.csv')
df.head()
def insert_space_and_format(value):
    # Use regular expression to find the boundary between digits and characters
    match = re.match(r'(\d+)([a-zA-Z])', value)
    
    if match:
        # Extract number and unit
        number, unit = match.groups()
        # Format number to include decimal point
        number = f"{number}.0"
        return f"{number} {unit}"
    
    # If it doesn't match the pattern, apply space insertion
    return re.sub(r'(\d+\.?\d*)([a-zA-Z])', r'\1 \2', value)

# Apply the function to the 'prediction' column
df['prediction'] = df['prediction'].apply(insert_space_and_format)
df.head()
df.to_csv('final.csv')
def insert_space_and_format(value):
    # First, add space between number and unit
    value = re.sub(r'(\d+\.?\d*)([a-zA-Z])', r'\1 \2', value)
    
    # Now handle cases where the number ends with a period and has no decimal digits
    value = re.sub(r'(\d+)\. (\w+)', r'\1.0 \2', value)
    
    return value

# Apply the function to the 'prediction' column
df['prediction'] = df['prediction'].apply(insert_space_and_format)

print(df)
df.to_csv('final.csv')
df.shape